@font-face {
    font-family: 'NorseBold'; /*font style to be used for odin logo*/
    src: url(font/Norse-Bold.otf) format('opentype');
}


*{
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}


.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    display:flex;
}

/* CSS for left side containing image and background */
.image-container{
    width: 30%;
    max-height: 100%;
    background-image: url('image/background.jpg'); 
    background-size: 100% 100%;
    position: relative;
}


.logo-container{
    background-color: rgba(0, 0, 0, 0.5);
    height: 15%;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* CSS for the image and text within the logo container */
.image-logo{
    max-width: 100%; 
    max-height: 80%; 
}

.image-text{
    font-family: 'NorseBold', sans-serif;
    font-size: 3rem;
}


/* CSS for the caption at the bottom center of the bacground image inside image container */
figcaption{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 60%;
}


/* right container containing form and paragraph element css below */
.body-container{
    width: 70%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* CSS for the top section within the right container */
.top-section{
    max-height: 80%;
    max-width: 100%;
    padding: 3rem 8rem 0 2rem;
    
    border-bottom: 4px solid #ddd; 
}

/* CSS for paragraph section before form element */
.para-section{

    max-height: 50%;

}

p{
    font-weight: 600;
    font-size: 0.9em;

    max-width: 35em;

}

.para-section > p:nth-child(3){
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.para-section > p:first-child{
    text-align: justify;
    margin-bottom: 0;
}

.para-section > p:nth-child(2){
    margin-top: 0;
}


/* css containing form elements below */
.form-section{
    display: flex;
    gap: 20%;


    padding-bottom: 1rem;

    max-height: 50%;

    position: relative;


}

/* CSS for styling input and label element */
input{
    font-family: inherit;
    font-size: 70%;
   
    width: 10rem;
    
    border: 1px solid #E5E7EB;
    border-radius: 2px;
}

input:focus{
    border-color: rgb(155, 214, 250);
    box-shadow: 0 0 2px rgba(2, 117, 232, 0.1);
}


input:invalid{
    border-color: rgb(243, 40, 40);
}

input:required{
    border: 1px solid #E5E7EB;
}

label{
    font-size: 0.5rem;
    font-weight: 500;
}

/* CSS for list styling */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li + li {
    margin: 5px 0px;
}

/* CSS for span element below */
.error {
    display: none;
    color: red;
    font-size: 0.7rem;
}
.error.active {
    display: block;
}


/* CSS for button style */
button{
    background-color: #596D48;
    font-family: inherit;
    font-size: 70%;

    width: 8rem;
    height: 1.4rem;

    border-radius: 4px;

    color:white;

    position: absolute;

    bottom: -25%;
    left: 0%;
}



/* CSS for bottom section containing login link and text */
.bottom-section{
    max-height: 20%;
    max-width: 100%;

    padding: 0rem 8rem 2rem 2rem;
}

.login {
    font-size: 0.7rem;

    margin-top: 2rem;
}

a{
    font-size: 0.7rem;
}