@font-face {
    font-family: 'NorseBold';
    src: url(font/Norse-Bold.otf) format('opentype');
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    font-size: 16px;
}


.container{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    
    display:flex;
}

.image-container{
    width: 30%;
    max-height: 100%;
    background-image: url('image/background.jpg');
    background-size: 100% 100%;
    position: relative;
}

.logo{
    background-color: black;
    height: 15%;
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-logo{
    max-width: 100%; 
    max-height: 80%; 
}

.image-text{
    font-family: 'NorseBold', sans-serif;
    font-size: 3rem;
}

figcaption{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 60%;
}


.form-container{
    width: 70%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

p{
    font-weight: bold;
    /* letter-spacing: -1px; */
    max-width: 35em;
}

.top-section{
    max-height: 80%;
    max-width: 100%;
    padding: 3rem 8rem 0 2rem;
    
    border-bottom: 4px solid #ddd; 
}

.bottom-section{
    max-height: 20%;
    max-width: 100%;

    padding: 0rem 8rem 2rem 2rem;
}

.para-section > p:nth-child(3){
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.para-section > p:first-child{
    text-align: justify;
    margin-bottom: 0;
}

.para-section > p:nth-child(2){
    margin-top: 0;
}

.para-section{

    max-height: 50%;

}


.form-section{
    display: flex;
    gap: 20%;


    padding-bottom: 1rem;

    max-height: 50%;


}

input{
    font-family: inherit;
    font-size: 70%;

    width: 10rem;
    
}

label{
    font-size: 0.5rem;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li + li {
    margin: 5px 0px;
}

.login {
    font-size: 0.7rem;

    margin-top: 1rem;
}

a{
    font-size: 0.7rem;
}

button{
    background-color: #596D48;
    font-family: inherit;
    font-size: 70%;

    width: 8rem;
    height: 1.4rem;

    border-radius: 4px;

    color:white;
}